article {
    display: flex;
    section {
        height: 15vmin;
        width: 15vmin; //vmin z viewportu bierzemmy to co jest mniejsze wys lub szer
        //jesli wszystkie elem maja te sama wielka
        //& dodajemy do rodzica bo chcemy dodac 
        &.small {
            //szukaj klasy small w sekcji
            background-color: pink;
        }
        &.medium {
            flex-grow: 1;
            background-color: red;
        }
        &.big {
            //dla section o klsie big
            background-color: blue;
            flex-grow: 3;
        }
    }
}

.container_list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    .list {
        width: 50%;
        display: flex;
        list-style-type: none;
        justify-content: space-between;
    }
}

section.circles {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    //display: inline-block;
    height: 200px;
    width: 100%;
    justify-content: center;
    align-self: flex-end;
    margin-bottom: 20px;
    .kolo {
        border: 10px solid #333333;
        border-radius: 50%;
        width: 80px;
        height: 80px;
        background-color: blue;
    }
}

//
section.crazy-layout {
    display: flex;
    //    flex-direction: row; jest automatycznie
    //    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    //    height: 200px;
    width: 100%;
    //zaczynamy najpierw na mobilne
    .layout {
        background-color: skyblue;
        display: flex; //po to zeby cyferki byly na srodku
        //        width: 20px;
        height: 100px;
        border: 5px solid white;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        box-sizing: border-box;
        color: black;
        &:nth-of-type(1) {
            //flex-grow: 1;
            width: 100%;
            order: 1;
        }
        &:nth-of-type(2) {
            width: 100%;
            order: 2;
        }
        &:nth-of-type(3) {
            width: 100%;
            order: 3;
        }
        &:nth-of-type(4) {
            order: 5;
            width: 50%;
        }
        &:nth-of-type(5) {
            order: 4;
            width: 50%;
        }
        &:nth-of-type(6) {
            width: 50%;
            order: 7;
        }
        &:nth-of-type(7) {
            order: 6;
            width: 50%;
        }
        &:nth-of-type(8) {
            order: 8;
            width: 100%;
        }
        &:nth-of-type(9) {
            order: 10;
            width: 100%;
        }
        &:nth-of-type(10) {
            //flex-grow: 1;
            order: 9;
            width: 100%;
        }
        @media(min-width: 420px) {
            &:nth-of-type(1) {
                //flex-grow: 1;
                width: 100%;
                order: 1;
            }
            &:nth-of-type(2) {
                width: 50%;
                order: 2;
            }
            &:nth-of-type(3) {
                width: 50%;
                order: 3;
            }
            &:nth-of-type(4) {
                order: 4;
                width: 25%;
            }
            &:nth-of-type(5) {
                order: 5;
                width: 25%;
            }
            &:nth-of-type(6) {
                width: 25%;
                order: 6;
            }
            &:nth-of-type(7) {
                order: 7;
                width: 25%;
            }
            &:nth-of-type(8) {
                order: 8;
                width: 50%;
            }
            &:nth-of-type(9) {
                order: 9;
                width: 50%;
            }
            &:nth-of-type(10) {
                //flex-grow: 1;
                order: 10;
                width: 100%;
            }
        }
    }
}


